@mixin d-flex($justfly-content-space-between,$align-item-center,){
    display: flex;
    justify-content: $justfly-content-space-between;
    align-items: $align-item-center;
}
@mixin container($maxwidth:1140px){
    max-width: $maxwidth;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}